@import "font-family";

$space-grey: #2f3238;
$space-grey-light: lighten($space-grey, 40%);
$space-grey-lighter: lighten($space-grey, 70%);
$space-rust: #B24E51;
$space-rust-b: #E74141;
$space-blue-dark: #466F8B;
$space-blue: #4991C2;
$space-blue-light: #0098FF;

$font-stack-sans: "Mangerica", helvetica, tahoma sans-serif;
$font-stack-sans-alt: "Realtime", helvetica, tahoma sans-serif;
$font-stack: Georgia, "Times New Roman", serif;

%widget {
  background: $space-grey;
  color: $space-rust;
}

html {
  font-size: 50%;
}

%type-normal {
  font-size: 18px;
  font-size: 1.8rem;
}

%type-large {
  font-size: 24px;
  font-size: 2.4rem;
}

%reset {
  margin: 0;
  padding: 0;
}

%reset-list {
  @extend %reset;
  list-style: none;
}

@mixin col($col-size) {
  float: left;
  width: $col-size / 12 * 100%;
  padding-right: 1em;
}

%col-1 {
  @include col(1);
}

%col-2 {
  @include col(2);
}

%col-3 {
  @include col(3);
}

%col-4 {
  @include col(4);
}

%col-5 {
  @include col(5);
}

%col-6 {
  @include col(6);
}

%col-7 {
  @include col(7);
}

%col-8 {
  @include col(8);
}

%col-9 {
  @include col(9);
}

%col-10 {
  @include col(10);
}

%col-11 {
  @include col(11);
}

%col-12 {
  @include col(12);
}

* {
  box-sizing: border-box;
}

body {
  @extend %type-normal;
}

img {
  max-width: 100%;
  height: auto;

  &.align-left {
    float: left;
    margin: 0 1rem 1rem 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-sans;
}

h1, h2, h3, h4, h5, h6,
ul, ol {
    margin-top: 0;
}

li {
  line-height: 2em;
}

a {
  text-decoration: none;
  color: $space-blue;
  transition: color .2s;

  &:hover {
    color: $space-blue-dark;
    transition: color .2s;
  }
}

p {
  line-height: 2em;
}

%cf {
  display: inline-block;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

#globalNav {
  @extend %widget;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1000;
  font-family: $font-stack-sans;
  text-transform: uppercase;

  h1 {
    @extend %reset;
    a {
      color: $space-blue;
    }
  }

  a {
    @extend %type-normal;
    display: block;
    padding: 0 1em;
    color: $space-grey-light;
    font-weight: 700;
    line-height: 50px;
    vertical-align: middle;

    &:hover {
      color: $space-blue-light;
    }
  }

  li {

    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;

      li {
        float: left;

        a {
          padding-left: 0;
        }
      }
    }
  }
}

.nav {
  @extend %reset-list;
}

#content {
  @extend %cf;
  position: relative;
  top: 50px;
  margin-bottom: 50px;
  padding: 1em;
}

#main {
  font-family: $font-stack;

  .blogroll {
    @extend %reset-list;
    margin-bottom: 1em;
    font-family: $font-stack-sans;

    time {
      display: none;
    }

    li {
      padding: .5em 0;
      border-bottom: $space-grey-lighter 1px solid;
      text-align: center;
    }
  }

  article {
    padding: 1em;

    h1 {
      margin-bottom: 0;
      padding-bottom: 24px;
      border-bottom: $space-grey-lighter 1px solid;
      line-height: 1.5em;
      text-align: center;
    }

    .post-content > p:first-child {
      @extend %type-large;
    }


    blockquote {
      margin: 0;
      padding: 1em;
      background: #f4f4f4;
      text-align: center;
      font-style: italic;
    }

    footer {
      font-family: $font-stack-sans;
      margin: 1em 0;

      div {
        display: block;
        margin-bottom: 1em;

        time {
          font-weight: bold;
        }
      }
    }

    #disqus_thread {
      margin-bottom: 1em;
    }
  }
}

ul.social_share {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  @extend %cf;
  @extend %reset-list;
  font-family: $font-stack-sans;

  display: block;
  > li {
    @include col(4);
    display: block;
    padding: 0;
    color: #fff;

    &:hover {
      cursor: pointer;
    }

    i, span {
      float: left;
      display: block;
    }

    i {
      padding: 1em;
    }

    span {
      padding: .5em;
    }

    &.fb {
      i {
        background: #2E4581;
      }

      background: #435C9B;
    }

    &.tw {
      i {
        background: #5694C7;
      }

      background: #6BB2ED;
    }

    &.li {
      i {
        background: #2564A3;
      }

      background: lighten(#2564A3, 20%);
    }
  }
}

#sidebar {
  font-family: $font-stack;

  h1 {
    text-align: center;
  }

  p {
    line-height: 1.5em;
  }

  .component {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: $space-grey-lighter 1px solid;
  }
}

#footer {
  background: $space-grey;
  color: #fff;
  padding: 1em;
  text-align: center;
  font-family: $font-stack-sans-alt;

  #single & {
    margin-bottom: 43px;
  }

  a {
    color: $space-rust;

    &:hover {
      color: $space-rust-b;
    }
  }
}

@media (min-width: 850px) {
  html {
    font-size: 55%;
  }

  #main {
    @include col(8);
  }

  #main .blogroll li {
    text-align: left;

    time {
      float: left;
      display: inline;
    }

    a {
      display: block;
      margin-left: 85px;
    }
  }

  article {
    padding: 0;
  }

  #sidebar {
    @include col(4);
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }

  #main, #sidebar {
    padding: 3em;
  }

  #main .blogroll li a {
    margin-left: 110px;
  }

  #single #footer {
    margin-bottom: 50px;
  }
}
