$space-grey: #2f3238;
$space-grey-light: lighten($space-grey, 40%);
$space-grey-lighter: lighten($space-grey, 70%);
$space-rust: #B24E51;
$space-rust-b: #E74141;
$space-blue: #2A5DB0;

$font-stack-sans: "Mangerica", helvetica, tahoma sans-serif;
$font-stack-sans-alt: "Realtime", helvetica, tahoma sans-serif;
$font-stack: "Argent", Georgia, "Times New Roman", serif;

%widget {
  background: $space-grey;
  color: $space-rust;
}

html {
  font-size: 50%;
}

@media (min-width: 600px) {
  html {
    font-size: 62.5%;
  }
}

%type-normal {
  font-size: 18px;
  font-size: 1.8rem;
}

%type-large {
  font-size: 24px;
  font-size: 2.4rem;
}

%reset {
  margin: 0;
  padding: 0;
}

%reset-list {
  @extend %reset;
  list-style: none;
}

@mixin col($col-size) {
  float: left;
  width: $col-size / 12 * 100%;
}

%col-1 {
  @include col(1);
}

%col-2 {
  @include col(2);
}

%col-3 {
  @include col(3);
}

%col-4 {
  @include col(4);
}

%col-5 {
  @include col(5);
}

%col-6 {
  @include col(6);
}

%col-7 {
  @include col(7);
}

%col-8 {
  @include col(8);
}

%col-9 {
  @include col(9);
}

%col-10 {
  @include col(10);
}

%col-11 {
  @include col(11);
}

%col-12 {
  @include col(12);
}

* {
  box-sizing: border-box;
}

body {
  @extend %type-normal;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-sans;
}

h1, h2, h3, h4, h5, h6,
ul, ol {
    margin-top: 0;
}

a {
  text-decoration: none;
  color: $space-blue;
}

p {
  line-height: 2em;
}

%cf {
  overflow: auto;
}

.cf {
  @extend %cf;
}

#globalNav {
  @extend %widget;
  font-family: $font-stack-sans;
  text-transform: uppercase;

  h1 {
    @extend %reset;

    a {
      color: $space-rust;

      &:hover {
        color: $space-rust-b;
      }
    }
  }

  a {
    @extend %type-normal;
    display: block;
    padding: 1em;
    color: $space-grey-light;
    font-weight: 700;

    &:hover {
      color: $space-rust;
    }

  }

  li {

    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;

      li {
        float: left;

        a {
          padding-left: 0;
        }
      }
    }
  }
}

.nav {
  @extend %reset-list;
}

#content {
  @extend %cf;
  padding: 1em;
}

#main {
  font-family: $font-stack;

  .blogroll {
    @extend %reset-list;
    margin-bottom: 1em;

    time {
      display: none;
    }

    li {
      padding: 1em 0;
      border-bottom: $space-grey-lighter 1px solid;
      text-align: center;
    }
  }

  article {
    h1 {
      margin-bottom: 0;
      padding-bottom: 24px;
      border-bottom: $space-grey-lighter 1px solid;
      line-height: 1.5em;
      text-align: center;
    }

    p {
      &:first-child {
        @extend %type-large;
      }
    }

    footer {
      font-family: $font-stack-sans;
      margin: 1em 0;

      div {
        display: block;
        margin-bottom: 1em;

        time {
          font-weight: bold;
        }
      }
    }

    #disqus_thread {
      margin-bottom: 1em;
    }
  }
}

#sidebar {
  font-family: $font-stack;

  h1 {
    text-align: center;
  }

  .component {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: $space-grey-lighter 1px solid;
  }
}


#footer {
  background: $space-grey;
  color: #fff;
  padding: 1em;
  text-align: center;
  font-family: $font-stack-sans-alt;

  a {
    color: $space-rust;

    &:hover {
      color: $space-rust-b;
    }
  }
}
