@font-face {
    font-family: 'Argent';
    src: url('/fonts/argent/argentcf-bold-webfont.woff2') format('woff2'),
        url('/fonts/argent/argentcf-bold-webfont.woff') format('woff'),
        url('/fonts/argent/argentcf-bold-webfont.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Realtime';
    src: url('/fonts/realtime/realtimerounded-black-webfont.woff2') format('woff2'),
        url('/fonts/realtime/realtimerounded-black-webfont.woff') format('woff'),
        url('/fonts/realtime/realtimerounded-black-webfont.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Mangerica';
    src: url('/fonts/mangerica/mangerica-black-webfont.woff2') format('woff2'),
        url('/fonts/mangerica/mangerica-black-webfont.woff') format('woff'),
        url('/fonts/mangerica/mangerica-black-webfont.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Mangerica';
    src: url('/fonts/mangerica/mangerica-regular-webfont.woff2') format('woff2'),
        url('/fonts/mangerica/mangerica-regular-webfont.woff') format('woff'),
        url('/fonts/mangerica/mangerica-regular-webfont.ttf') format('truetype');
    font-weight: normal;
}

