#globalNav {
  padding: 1em;
}

#globalNavContainer {
  width: 100%;
  z-index: 1000;
  border-right: 1px solid #1B1E23;
  background: #242628;
  position: fixed;
  top: 0;

  @media (max-width: 500px) {
    position: relative;
  }

  #globalNav {
    max-width: 1200px;
    margin: 0 auto;
  }

  &, ul {
    list-style: none;
  }

  a {
    color: #888888;
    &:hover {
      color: #fff;
    }
  }

  h1 {
    float: left;
    margin: 0;
    font-size: 24px;
    text-transform: lowercase;

    @media (max-width: 500px) {
      float: none;
      text-align: center;
    }

    a {
      color: lighten(#2A5DB0, 20%);
      &:hover {
        color: #2A5DB0;
      }
    }
  }

  .site-nav {
    float: right;
    margin: 0;
    padding: 0;

    @media (max-width: 500px) {
      float: none;
    }

    li {
      float: left;
      padding: 0 0 0 2rem;
      line-height: 24px;
      vertical-align: middle;

      @media (max-width: 500px) {
        float: none;
        padding: .25em 0;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
