@charset "UTF-8";
/* Defaults */
* {
  box-sizing: border-box; }

html {
  font-size: 100%/1;
  font-family: "Fira Sans", Helvetica, arial, sans-serif;
  background: #ffffff;
  color: #444; }

body {
  margin: 0;
  padding: 0; }

a {
  font-weight: bold;
  text-decoration: none;
  color: #2c80ff; }
  a:hover {
    color: #0063f8; }

img {
  max-width: 100%; }

pre {
  padding: .5rem; }

code, pre, pre span {
  font-family: "Fira Mono", monospace !important; }

code {
  background: #EFEFEF;
  color: #222;
  font-size: 14px; }
  code::before, code::after {
    letter-spacing: -0.2em;
    content: "\00a0"; }

pre, pre span {
  font-size: 12px;
  line-height: 100%;
  color: #f8f8f2; }

#header {
  padding: 1rem .5rem; }
  #header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 1.4rem;
    color: #2c80ff; }
    #app #header h1 a:hover {
      color: #439EEA; }

#app {
  background: #ffffff; }

#main:after, .group:after {
  content: "";
  display: table;
  clear: both; }

#main {
  clear: both;
  padding: 2rem;
  background: #f4f4f4; }
  #main h1 {
    text-align: left;
    line-height: 2.75rem; }
  #main .content h1 {
    font-size: 1.5rem;
    line-height: 1.5rem; }
  #main blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "“" "”" "‘" "’"; }
  #main blockquote p {
    margin-top: 0;
    display: block; }
    #main blockquote p:last-child {
      margin-bottom: 0; }
  #main .post, #main .collection {
    background: #fff; }

ul.menu-main {
  background: #0d1011;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: lowercase; }
  ul.menu-main li {
    display: inline-block;
    margin: 0; }
    ul.menu-main li:first-child {
      padding-left: 0; }
    ul.menu-main li h1 a {
      padding: 0; }
    ul.menu-main li h1, ul.menu-main li a {
      display: block;
      margin: 0;
      padding: .75rem;
      font-size: 14px;
      font-weight: normal; }
      ul.menu-main li h1:hover, ul.menu-main li a:hover {
        text-decoration: none;
        color: #5f9fff;
        background: #121517; }

ul.collection {
  margin: 0;
  padding: 0 1rem;
  list-style: none; }
  ul.collection li {
    padding: .75em 0; }
    .sidebar ul.collection li {
      border-bottom: 1px solid #d4cfc9; }
      .sidebar ul.collection li:last-child {
        border-bottom: none; }
    ul.collection li a {
      font-weight: normal; }

#chase ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  #chase ul li {
    margin-bottom: 1rem; }
    #chase ul li .heading {
      display: inline-block;
      width: 200px;
      padding-right: 1rem;
      text-align: right; }

#chase #main-menu {
  margin-top: 4rem; }
  #chase #main-menu li {
    float: left;
    padding: 0 .5rem; }

#footer {
  padding: 1rem 0;
  text-align: center;
  background: #0d1011;
  color: #d4cfc9; }
  #footer > span {
    display: block;
    line-height: 1.5rem; }

.post {
  padding: 1rem 2rem; }
  .post h1 {
    font-size: 2rem; }
  .post .content {
    line-height: 2rem;
    font-size: 18px; }

.page .purpose {
  line-height: 1.5em;
  font-style: italic;
  font-weight: bold; }

.small {
  width: 50%;
  height: 50%; }

.align-left {
  float: left;
  margin-right: 1rem; }

.group {
  clear: both; }

.collection, .post {
  float: left;
  width: 70%; }

.sidebar {
  float: right;
  width: 28%; }
  .sidebar p {
    line-height: 1.5rem; }
  .sidebar h2 {
    margin: 2rem 0 0; }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .sidebar ul li {
      padding: .6rem 0;
      border-bottom: 1px solid #ccc; }
      .sidebar ul li:last-child {
        border: none; }
  .sidebar .about-me {
    position: relative; }
    .sidebar .about-me h2 {
      position: absolute;
      width: 100%;
      margin: 0;
      padding: .6rem;
      bottom: 3px;
      background: rgba(0, 0, 0, 0.8);
      color: #0063f8; }

@media (min-width: 1251px) {
  #home, #app, #content, #preamble, #postamble {
    width: 1250px;
    margin: 0 auto; } }

@media (max-width: 1250px) {
  #home, #app, #content, #preamble, #postamble {
    width: 1000px;
    margin: 0 auto; }
    #home h1, #app h1, #content h1, #preamble h1, #postamble h1 {
      margin: 0; }
  .post ul {
    margin: 0;
    padding: 0 1rem; }
  #footer {
    width: 100%; } }

@media (max-width: 1000px) {
  #home, #app, #content, #preamble, #postamble {
    width: 100%;
    margin: 0 auto; }
    #home h1, #app h1, #content h1, #preamble h1, #postamble h1 {
      margin: 0; }
  .post .content {
    font-size: 16px; }
  .sidebar {
    padding: 1rem; }
  #header h1 span {
    display: block; }
  #chase ul li .heading {
    display: inline;
    padding: 0;
    font-weight: bold; } }

@media (max-width: 830px) {
  #home, #app, #main, #content, #preamble, #postamble {
    width: 100%;
    margin: 0 auto; }
  #main {
    padding: 2rem 0; }
  .collection, .post, .sidebar {
    width: 100%; }
  .post h1 {
    margin: 0;
    font-size: 24px; } }
