* {
  box-sizing: border-box;  
}

@font-face {
    font-family: 'Realtime';
    src: url('/fonts/realtime/realtimerounded-black-webfont.woff2') format('woff2'),
        url('/fonts/realtime/realtimerounded-black-webfont.woff') format('woff'),
        url('/fonts/realtime/realtimerounded-black-webfont.ttf') format('truetype');
    font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  background: #2e303a;
  color: #000;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

#app {
  margin: 0 auto;
  width: 95%;
}

img {
  max-width: 100%;
}

#header {
  margin: 0;
  margin-bottom: .5em;
  color: #fff;
}

#header h1 {
  margin-top: 2em;
  font-size: 1.5rem;
}

#header a {
  color: #fff; 
  text-decoration: none;
}

#header span {
  font-weight: normal;
}

#header ul.menu-main {
  margin: 0;
  padding: 0 .5em;
  background: #F96E5B;
  list-style: none;
}

#header .menu-main li {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
}

#header .menu-main li a {
  display: block;
  padding: .75em;
  text-decoration: none;
}

#header .menu-main li a:hover {
  background: #FF4B33;
}

#main {
  margin: 0 auto;
  width: 100%;
  background: #f4f4f4;
}

#content {
  background: #f4f4f4;
  color: #2e303a;
}

#content ul.collection {
  margin: 0;
  padding: 2em;
  list-style: none;
}

#content ul a {
  display: block;
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}

#content .post {
  font-size: 1.25em; 
  line-height: 2em;
  padding: 2em;
}

#content .post h1 {
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 1.5em;
}

#content .backdrop {
  max-height: 500px; 
  overflow: hidden;
}

#content .backdrop img {
  margin-top: -45px;
}

#content .page {
  width: 80%;
  background: rgba(255,255,255,.8);
  position: relative;
  margin: 1em auto;
  padding: 2em;
}

#content .page.is_squeeze h1,
#content .page.is_squeeze h2, 
#content .page.is_squeeze h3 {
  text-align: center;
}

#content .page.has_backdrop {
  margin: -180px auto 0;
  z-index: 1000;
}

#footer {
  padding: 1em;
  color: #f4f4f4;
  font-family: "Realtime";
  text-align: center;
}

#footer a {
  color: #F96E5B; 
}

a.btn {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
}

a.btn.cta {
  background: #F96E5B; 
  color: #fff;
}

a.btn.cta:hover {
  background: #FF4B33;
  color: #fff;
}
