/** COLORS **/
$red-primary: #F96E5B;
$red-active: darken($red-primary, 20%);

$gunmetal: #2e303a;

$white: #fff;
$cream: #f4f4f4;

/* Defaults */
* {
  box-sizing: border-box;  
}

@font-face {
    font-family: 'Realtime';
    src: url('/fonts/realtime/realtimerounded-black-webfont.woff2') format('woff2'),
        url('/fonts/realtime/realtimerounded-black-webfont.woff') format('woff'),
        url('/fonts/realtime/realtimerounded-black-webfont.ttf') format('truetype');
    font-weight: bold;
}

html {
  font: 90%/1 "Montserrat", Helvetica, arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: $gunmetal;
  color: #000;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;

  &.btn {
    display: inline-block;
    padding: 1em;
    text-decoration: none;

    &.cta {
      background: $red-primary; 
      color: $white;

      &:hover {
        background: $red-active;
      }
    }
  }
}

#app {
  margin: 0 auto;
  width: 95%;
}

img {
  max-width: 100%;
}

.post ul {
  margin: 2em 0;
  li {
    margin: 1.15em 0;
  }
}

#header {
  margin: 0;
  margin-bottom: .5em;
  color: $white;

  h1 {
    margin-top: 1em;
    font-size: 1.5rem;
  }

  a {
    color: $white; 
    text-decoration: none;
  }

  span {
    font-weight: normal;
  }
}

ul.menu-main {
  margin: 0 0 1.5rem;
  padding: 0 .5em;
  background: $red-primary;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;

    a {
      display: block;
      padding: .75em;
      color: $white; 
      text-decoration: none;

      &:hover {
        background: $red-active;
      }
    }
  }  
}

#main {
  margin: 0 auto;
  width: 100%;
  background: $cream;
}

#content {
  background: $cream;

  ul.collection {
    margin: 0;
    padding: 4em;
    list-style: none;

    a {
      display: block;
      padding: 1em 0;
      border-bottom: 1px solid #ccc;
      text-decoration: none;
    }
  }

  .post {
    font-size: 1.25em; 
    line-height: 1.75em;
    padding: 4rem;

    h1 {
      margin: 0;
      padding-bottom: .5em;
      border-bottom: 1px solid #ccc;
      text-align: center;
      font-size: 1.5em;
    }

    li {
      line-height: 1.5em;
    }
  }

  .page.is_squeeze {
    h1, h2, h3 {
      text-align: center;
    }
  }
}

#footer {
  padding: 1em;
  color: $cream;
  font-family: "Realtime";
  text-align: center;

  a {
    color: $red-primary; 
  }
}




@media (min-width: 800px) {

  #content {

    .page {
      width: 80%;
      background: rgba(255,255,255,.8);
      position: relative;
      margin: 1em auto;
      padding: 5rem;

      &.has_backdrop {
        margin: -8em auto 0;
        z-index: 1000;
      }

      &.thin {
        width: 60%;
        padding: 3em;
      }
    }
    
    .backdrop {
      max-height: 500px; 
      overflow: hidden;

      img {
        margin-top: -45px;
      }
    }
  }
}

#chase {
  background: none;
  color: #fff;

  a {
    color: $red-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul.content {
    list-style: none;
    margin: 3em 0;
    padding: 0;

    li {
      line-height: 2em;
      
      .heading {
        display: inline-block;
        width: 150px;
        padding-right: 1em;
        text-align: right;
      }
    }
  }

  ul#main-menu {
    list-style: none;
    margin: 1em 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      border-right: 1px solid #fff;
      line-height: 1em;

      &:last-child {
        border: none;
      }

      &:first-child {
        a {
          padding-left: 0;
        }
      }

      a {
        padding: 0 .5em;
      }
    }
  }
}
