//** COLORS **/
// Ocean
$base00: #2b303b;
$base01: #343d46;
$base02: #4f5b66;
$base07: #eff1f5;
$base08: #bf616a;

// Railscast Modd
$base00: #272822;
$base01: #272935;
$base02: #3a4055;
$base03: #5a647e;
$base04: #d4cfc9;
$base05: #e6e1dc;
$base06: #f4f1ed;
$base07: #f7f7f7;
$base08: #439EEA;
$base09: #cc7833;
$base0A: #ffc66d;
$base0B: #a5c261;
$base0C: #519f50;
$base0D: #6d9cbe;
$base0E: #b6b3eb;
$base0F: #bc9458;

// Custom Ocean
$baselt: #f7f7f7;
$base00: #24272d;
$base01: #2b333d;
$base02: #333c47;
$base07: #c5d0de;
$base09: #f99157;

/* Defaults */
* {
  box-sizing: border-box;  
}

html {
  font-size: 100%/1;
  font-family: "Fira Sans", Helvetica, arial, sans-serif;
  background: $baselt;
  color: $base00;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: $base03;
  &:hover {
    color: #FF4E00;
  }
}

img {
  max-width: 100%;
}

#header {
  padding: 1rem .5rem;

  h1 {
    margin: 0;
    font-weight: normal;
    font-size: 1.4rem;

    #app & a:hover {
      color: $base08;
    }
  }
}

#app {
  background: $baselt;
}

#main { 

  h1 {
    text-align: left;
    line-height: 2.75rem;
  }

  h2, h3, h4 {
    line-height: 2rem;
  }

  blockquote {
    margin: 0;
    padding: .25rem 1rem;
    background: $base05;
    font-style: italic;
  }
}

ul.menu-main {
  background: $base01;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: lowercase;

  li {
    display: inline-block;
    margin: 0;

    &:first-child {
      padding-left: 0;
    }

    a {
      display: block;
      padding: .75rem;
      color: $base07;
      font-weight: normal;

      &:hover {
        text-decoration: none;
        background: $base00;
        color: $baselt;
      }
    }
  }
}

ul.collection {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: .75em 0;
      border-bottom: 1px solid $base04;

      &:last-child {
        border-bottom: none;
      }

      a {
        font-weight: normal;
      }
    }
}

#chase {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      margin-bottom: 1rem;

      .heading {
        display: inline-block;
        width: 200px;
        padding-right: 1rem;
        text-align: right;
      }
    }
  }

  #main-menu {
    margin-top: 4rem;
    li {
      float: left;
      padding: 0 .5rem;
    }
  }
}

#footer {
  margin: 1rem 0 0;
  padding: 1rem 0;
  text-align: center;
  background: $base01;
  color: $base04;

  a {
    color: #FF4E00;
    &:hover {
      color: #CD6723;
    }
  }

  > span {
    display: block;
    line-height: 1.5rem;
  }
}

.post {
  h1 {
      text-align: center;
      font-size: 3rem;
  }

  .content {
      line-height: 2.25rem;
      font-size: 1.5rem;

      p {
	  color: #555;	  
      }
  }
}

.page {
  .purpose {
    line-height: 1.5em;
    font-style: italic;
    font-weight: bold;
  }
}

.small {
  width: 50%;
  height: 50%;
}

.align-left {
  float: left; 
  margin-right: 1rem;
}

.group {
  clear: both;
}

@media (min-width: 801px) {
  #home, #app {
    width: 750px;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  #home, #main {
    width: 100%;
    padding: 2rem;
    h1 {
	margin: 0;
    }
  }

  .post {
    ul {
      margin: 0;
      padding: 0 1rem;
    }
  }

  #footer {
    width: 100%;
  }
}

@media (max-width: 750px) {
  #header h1 span {
    display: block;
  }

  #chase ul li .heading {
    display: inline;
    padding: 0;
    font-weight: bold;
  }

  #content {
    h1 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
