// https://www.youtube.com/watch?v=9S8LGdpNh4Q
// # Layout Colors
$green_dec_2: #067858;
$green_dec_1: #089a71;
$green_0: #09bc8a;
$green_inc_1: #35c89f;
$green_inc_2: #62d4b4;
$black: #0b131b;
$black_low_contrast: #232c34;
$white: #f9ffff;
$white_low_contrast: #eff4f4;
$error: #f87060;
$success: #3ee6b4;
$disabled: #bbbbbc;
/*** TODO LIGHT SCHEME ***/

/*** TODO DARK SCHEME ***/
