<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ if isset .Params "title" }}{{ .Params.Title }} | {{ end }}{{ .Site.Title }} | Building A Better Web</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700">
    <link rel="author" href="/humans.txt">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "styles.html" . }}
</head>
<body class="dark-gray">
    <div id="app" class="bg-white-30">
    <div class="mw9 center ph3-ns">
    <div class="cf ph2-ns">
    <div class="tc mv5">
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="dib link ph2 pv2">{{ .Name }}</a>
        {{ end }}
    </div>
    <div>
        <div class="f3 center mw7">
            {{ block "main" . }}
            {{ end }}
        </div>
    </div>
    </div>
</div>
    {{ partial "footer.html" . }}
</div>
</body>
</html>