<!doctype html>
<html>
    {{ template "partials/head.html" . }}
    <body>
        <div id="app">
            {{ template "partials/nav.html" . }}
            <div id="content">
                <div id="main">
                  <div class="post">
                  {{ if .Params.postthumb }}<img src="{{ .Params.postthumb }}" />{{ end }}
                    <h1 class="post-title">{{ .Title }}</h1>

                    <div class="post-content cf">
                      {{ .Content }}
                    </div>
                    <div id="disqus_thread"></div>
                  </div>
                </div>
                {{ template "partials/sidebar.html" . }}
            </div>
        </div>
        {{ template "partials/footer.html" . }}
    </body>
</html>

