<head>
  <link rel="author" href="humans.txt" />
  <META NAME="robots" CONTENT="index, follow">
  <meta name="dns" content="digital ocean">
  <meta name="version" content="1.0.26">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}I'm Chase Adams. Engineer at Zappos. Life Learner. Programming Polyglot. {{ end }}">
  <meta name="og:image" content="{{ if .Params.postthumb }}{{ .Params.postthumb }}{{ else }}https://en.gravatar.com/userimage/7669606/43804dd24788fa65fc5ef0bc46a6a94b.jpg{{ end }}">
  <meta name="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}I'm Chase Adams. Engineer at Zappos. Life Learner. Programming Polyglot. {{ end }}">

  <title> {{ if eq .Title .Site.Title }}{{ .Site.Title }}{{ else }}{{ .Title }} &mdash; Chase Adams {{ end }}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />

  <link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/{{ .Site.Params.manifest.appcss }}">

  <link rel="shortcut icon" href="/favicon.ico?v=1">
</head>
