<style>
    html, body {box-sizing:border-box;margin:0px;padding:0px;}
    a, a:visited {color:#0DA0F9;text-decoration:none;font-weight: bold;}
    a:hover {color:#0DA0F9;text-decoration:underline;}
    body {font-family: 'Nunito', 'Muli', sans-serif; color:#404040;font-size: 1rem;margin:0;padding:0;}
    #app {background-color:#fff;}
    .content p:first-child {margin-top:0}
    .content {max-width:800px;margin:0 auto;padding:2rem;line-height:1.6rem;}
    h1.heading {text-align:center;font-size:2.5rem;margin:.5rem 0 1rem;}


    nav,footer {width: 100%;background:#162329 !important; }
    @media (max-width: 900px) {
        h1.heading {font-size: 1.75rem;}
    nav .inner{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
    }
    
    nav .inner { display: flex; max-width: 98%; width: 1024px; margin: 0 auto; padding: 1rem 0;}
    nav a, nav a:visited {padding:.5rem;color: #a1a7b9; font-weight: normal;}
    footer p, footer ul {color:#a1a7b9;}
    nav a:hover {color:#0DA0F9;}
    .group:after { content: ""; display: table; clear: both; }

    ul.nav {
        list-style: none;
        text-align: center;
        padding: 1rem 0;
  margin: 0;
    }
    ul.nav li {
        display: inline;
    }
    ul.nav li a {
        display: inline-block;
        line-height: 1rem;
        padding: 0 .5rem;
        border-right: 1px solid #a1a7b9;
    }
    ul.nav li:first-child a {  padding-left: 0; }
    ul.nav li:last-child a { border-right: none; padding-right: 0;}
</style>